#root {
	min-height: 90vh;
}

.App {
	display: flex;
	width: 575px;
	min-height: 580px;
	max-height: 90vh;
	border: 2px solid #f24b4b;
	margin: 2rem auto;
}

.wallet-wrapper {
	padding: 1.5rem;
	width: 100%;
	min-height: 100%;
}

.start-window {
	margin: 0 auto;
	text-align: center;
}

.start-btn-container {
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-button {
	display: flex;
	justify-content: center;
	width: 100px;
}

.mnemonic-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
}

.mnemonic-container {
	margin: 10px;
}
